<div class="container-fluid">
    <hr>
    <h5 style="text-align: center;">&copy; All rights reserved by TEM Pvt. Ltd. ! Human Resource Team !</h5>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"><a href="">SiteMap </a> </div>
        <div class="col-md-2"><a href="">Policy</a></div>
        <div class="col-md-2"><a href="">Help</a></div>
        <div class="col-md-2"><a href="">Offices</a></div>
        <div class="col-md-2"></div>
    </div>
</div>